.row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  text-align: left;

  @include mobile {
    flex-direction: column;
    gap: 20px;
  }

  .col {
    flex: 1;

    .res-item,
    .edu {
      margin-top: 20px;
      padding: 25px;
      background-color: var(--white);
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

      h3 {
        margin-bottom: 15px;
        color: var(--text-dark);
      }

      p,
      strong {
        color: var(--text-info);
      }
    }
  }
}
.row {
  @include tablet {
    gap: 20px;

    .col .res-item,
    .col .edu {
      padding: 20px;
    }
  }
}
