.btn {
  padding: 12px 25px;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background-color: var(--white);
  color: var(--text-dark);
  cursor: pointer;
  font-weight: 500;
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
  i {
    transition: all 0.3s ease;
  }
  &:hover {
    background-color: var(--secondary-hover);
    color: var(--white);
    box-shadow: 0 8px 15px rgba(182, 210, 238, 0.4);
  }
}
.blue-btn {
  @extend .btn;
  background-color: var(--primary-color);
  color: var(--white);
  margin-right: 10px;
  &:hover {
    background-color: var(--primary-color);
  }
}
