.btn {
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: var(--transition);
}
.blue-btn {
  @extend .btn;
  background-color: var(--primary-color);
  color: var(--white);
  margin-right: 10px;
  &:hover {
    background-color: var(--primary-color);
  }
}
