footer {
  background: var(--primary-color);
  padding: 50px 0;
  text-align: center;

  .footer-manu {
    list-style: none;
    @include flex-center;
    gap: 30px;
    @include mobile {
      flex-direction: column;
      gap: 10px;
    }
    a {
      text-decoration: none;
      color: var(--text-dark);
      &:hover {
        color: var(--white);
      }
    }
  }

  .footer-social-icon {
    @include flex-center;
    gap: 20px;
    margin: 20px 0;
    .icon {
      font-size: 20px;
      cursor: pointer;
    }
  }

  .bottom-footer {
    font-size: 14px;
    color: var(--text-muted);
  }
}
