.header {
  @include flex-between;
  background-color: rgba(182, 210, 238, 0.9);
  backdrop-filter: blur(10px);
  color: var(--white);
  padding: 0 10%;
  height: var(--header-height);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  @include mobile {
    height: auto;
    padding: 15px 5%;
    gap: 10px;
    flex-direction: column;
  }

  .logo {
    font-size: 5rem;
    font-weight: bold;
    @include mobile {
      font-size: 2.5rem;
      margin-bottom: 5px;
    }
  }

  .navlist {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      margin: 0 20px;
      a {
        color: var(--white);
        text-decoration: none;
        font-size: 1.2rem;
        transition: var(--transition);
        position: relative;
        padding-bottom: 15px;
        transition: all 0.3 ease;

        &.active {
          color: var(--secondary-hover);

          &::after {
            opacity: 1;
            transform: translateX(-50%) scale(1);
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) scale(0);
          width: 6px;
          height: 6px;
          background-color: var(--secondary-hover);
          border-radius: 50%;
          opacity: 0;
          transition: all 0.3s ease;
        }

        @include mobile {
          font-size: 1rem;
          white-space: nowrap;
          color: var(--white);
          padding: 5px 10px;
        }
      }
      @include mobile {
        margin: 0;
      }
    }

    @include mobile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
      width: 100%;
      position: static;
      background: transparent;
      box-shadow: none;
      padding: 0;
    }
  }

  .nav.button {
    @include mobile {
      display: none;
    }
  }
}
.header {
  @include tablet {
    height: 110px;
    padding: 0 5%;

    .logo {
      font-style: 3.5rem;
    }
    .navlist li {
      margin: 0 10px;
      a {
        font-style: 1.1rem;
      }
    }
  }
}
