.header {
  @include flex-between;
  background-color: rgba(182, 210, 238, 0.9);
  backdrop-filter: blur(10px);
  color: var(--white);
  padding: 0 10%;
  height: var(--header-height);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  .logo {
    font-size: 5rem;
    font-weight: bold;
    @include mobile {
      font-size: 3rem;
    }
  }

  .navlist {
    list-style: none;
    display: flex;
    li {
      margin: 0 15px;
      a {
        color: var(--white);
        text-decoration: none;
        font-size: 1.2rem;
        transition: var(--transition);
        &:hover {
          color: var(--secondary-hover);
        }
      }
    }

    @include mobile {
      position: fixed;
      top: 100px;
      left: -100%;
      flex-direction: column;
      background-color: var(--primary-color);
      width: 100%;
      padding: 20px 0;
      &.responsive {
        left: 0;
      }
      li {
        margin: 15px 0;
      }
    }
  }

  .nav.button {
    @include mobile {
      display: none;
    }
  }
}
