.wrapper {
  padding-top: var(--header-height);
}

.feat-box {
  @include flex-between;
  padding: 100px 10%;
  min-height: 80vh;

  @include mobile {
    flex-direction: column-reverse;
    text-align: center;
  }

  .feat-text {
    flex: 1;
    .feat-name p {
      font-size: 50px;
      font-weight: 700;
      color: var(--text-dark);
      @include mobile {
        font-size: 3rem;
      }
    }
  }

  .feat-image .image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 8px solid var(--white);
    box-shadow: var(--shadow);
    @include mobile {
      width: 200px;
      height: 200px;
    }
  }

  .social-icon {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    @include mobile {
      justify-content: center;
    }
    .icon {
      font-size: 24px;
      color: var(--text-dark);
      cursor: pointer;
      transition: var(--transition);
      &:hover {
        color: var(--accent-color);
        transform: scale(1.1);
      }
    }
  }
}
