* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
}
.sec {
  padding: 100px 10%;
  text-align: center;
  .top-head {
    margin-bottom: 50px;
    h1 {
      font-size: 35px;
      color: var(--text-dark);
    }
    span {
      color: var(--text-muted);
    }
  }
}
.sec {
  padding: 150px 10%;

  @include tablet {
    padding: 60px 5%;
  }

  @include mobile {
    padding: 40px 5%;
  }
}
.item {
  text-decoration: none;
  display: block;
}
