.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b6d2ee;
  color: white;
  padding: 1rem 5%;
  position: fixed;
  width: 100%;
  top: 0;
}
.logo {
  font-size: 2.5rem;
  font-weight: bold;
}
.headlist{
    list-style: none;
    display: flex;
}
li{
    margin-left: 20px;
}
.headlist a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.headlist a:hover{
    color: #2633ee;
}